 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html{
   font-size: 62.5%;
}
 body {
 font-family: Arial, sans-serif;
 background: #fff;
 margin: 0;
 padding: 0;
 font-size: 1.5rem;
 
 }
 .container{
    height: 100vh;
    width: 60rem;
    padding: 3rem 2rem;
    max-width: 400px;
    margin: auto;
   margin-top: 7rem;
    
 }

 @media(max-width:490) {
   .container {
      padding:3rem;
      margin-left: 3rem;
   }
 }
.header {
 display: flex;
align-items: center;
 gap: 1rem;
 margin-bottom: 2.5rem;
 margin-left: 10px;
 margin-top: 10px;
 
 
 }
 
 .back-arrow {
 font-size: 2.4rem;
 cursor: pointer;
 display: none;
 }
 @media(max-width:850px) {
    .back-arrow {
      display: inline;
      margin-top: 2rem;
   }
 }
 .form-container h3 {
    margin-top: 5px;
 margin-bottom: 5px;
 font-weight: lighter;
 }
 .subtitle {
 color: gray;
 font-size: 1.2rem;
 margin-bottom: 4rem;

 }
 form label {
 display: block;
 margin: 1.5rem 0 5px 7px;
 

 
 }
input{
 width: 100%;
 padding: 1rem;
 border: 1px solid rgb(59, 58, 58);
 background-color: #f3f2f2;
 border-radius: 5px;
 margin-top: 1rem;
 margin-left: 0;
 }
 @media(max-width:490px) {
   input {
      width: 80%;
   }
 }
 .buttons {
 margin-top: 5rem;
 display: flex;
 gap: 2rem;
 justify-content: end;

 }
 .cancel-btn,
 .save-btn {
 padding: 1rem 2rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 }
 .cancel-btn {
background: white;
 border: 1px solid #222;
 color: #222;
 }
 .save-btn {
 background: #00322d;
 color: white;
 } 