    *{
	box-sizing:border-box;
	font-family:'Poppins',Arial,sans-serif;
	margin:0;
	padding:0;
	}
    body{
	background:#fff;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	}
    .container{
	width:100%;
	max-width:380px;
	padding:30px;
	}
    .logo{
	text-align:center;
	margin-bottom:20px;
	}
    .logo img{
	width:50px;
	height:50px;
	}
    h2{
	text-align:center;
	margin-bottom:25px;
	color:#111;
	}
    input{
	width:100%;
	padding:10px 40px 10px 10px;
	border:1px solid #ccc;
	border-radius:6px;
	margin-bottom:15px;
	font-size:15px;
	}
    .password-container{
	position:relative;
	}
    .toggle-password{
	position:absolute;
	right:10px;top:50%;
	transform:translateY(-50%);
	cursor:pointer;font-size:18px;
	color:#333;
	}
    .forgot{
	text-align:right;
	margin-bottom:20px;
	}
    .forgot a{
	color:#004d40;
	text-decoration:none;
	font-weight:500;
	}
    .forgot a:hover{
	text-decoration:underline;
	}
    button{
	width:100%;padding:12px;
	background:#004d40;
	color:#fff;
	border:none;
	border-radius:8px;cursor:pointer;
	font-size:16px;
	font-weight:600;
	margin-bottom:20px;
	}
    button:hover{
	background:#003d33;
	}
    .divider{
	text-align:center;
	margin-bottom:15px;
	color:#666;
	}
